#sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  overflow-y: auto;
  margin: 0;
  border-radius: 0;
}

#sidebar-menu-bottom {
  position: fixed;
  bottom: 0;
}

#sidebar-menu-bottom-image {
  padding: 1em !important;
}

#content-main {
  margin-left: 250px;
  margin-top: 0;
  min-width: 550px;
  #padding: 0;
}